{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": "google",
  "rules": {
    "comma-dangle": ["error", "never"],
    "object-curly-spacing": [2, "always"]
  }
}
