{
  "extends": "google",
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "max-len": ["error", {
      "code": 120,
      "comments": 200,
      "ignoreUrls": true
    }],
    "camelcase": ["error", {
      "properties": "never"
    }],
    "new-cap": ["error", {
      "capIsNewExceptions": ["Router"]
    }],
    "react/jsx-filename-extension": [1, {
      "extensions": [".js", ".jsx"]
    }],
    "indent": ["error", "tab", { "SwitchCase": 1 }],
    "comma-dangle": ["error", "never"],
    "object-curly-spacing": ["error", "always"],
    "global-require": 0,
    "no-underscore-dangle": 0,
    "no-tabs": 0,
    "react/prop-types": "error",
    "react/jsx-indent": [2, "tab"],
    "react/jsx-indent-props": [2, "tab"],
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error"
  }
}
